# FastAPI stack
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
aiofiles
pyopenssl 

# Jupyter Lab environment
jupyterlab<3.5.0
# due to https://github.com/jupyter/notebook/issues/6164
jupyter_client<7.0.0

ipywidgets
jupyterlab-git
widgetsnbextension
matplotlib
datashader
seaborn
dask-ml
dask-labextension
jupyter-tensorboard
jupyterlab-nvdashboard
jupyterlab_nvdashboard
mlflow

# Splunk related
splunk-sdk
splunk-opentelemetry[all]
opentelemetry-instrumentation-fastapi==0.33b0

# other dependencies
tensorflow==2.8.0
keras==2.8.0
numpy==1.22.1
numexpr==2.7.3

# libraries
transformers
sentencepiece
torch==1.9.*
torchmetrics
sumeval
janome
#sklearn
pandas
fugashi
ipadic
scipy
scikit-learn
networkx
nltk
protobuf==3.20.*
