# FastAPI stack
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
aiofiles

# Jupyter Lab environment (will be installed in Docker file)
#jupyterlab<3.0.0
#jupyterlab-nvdashboard==0.5.0

# for model construction
transformers
sentencepiece
torch
torchmetrics
tensorflow==2.8.0
keras==2.8.0 # come with tensorflow
numpy==1.22.1
numexpr==2.7.3
sklearn
pandas
fugashi
ipadic