# FastAPI stack
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
aiofiles

# other dependencies
tensorflow==2.8.0
keras==2.8.0
numpy==1.22.1
numexpr==2.7.3

# libraries
torch
torchmetrics
pandas
transformers
sentencepiece
fugashi
ipadic