# FastAPI stack
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
aiofiles
pyopenssl 

# Jupyter Lab environment
jupyterlab
# due to https://github.com/jupyter/notebook/issues/6164
jupyter_client<7.0.0

ipywidgets
jupyterlab-git
widgetsnbextension
matplotlib
datashader
dask-ml
dask-labextension
jupyter-tensorboard
jupyterlab-nvdashboard
jupyterlab_nvdashboard
mlflow

# Splunk related
splunk-sdk
splunk-opentelemetry[all]
opentelemetry-instrumentation-fastapi==0.33b0

# Python data science basics
pyarrow